{% extends 'base.html' %}
{% block title %}Réinitialisation du mot de passe terminée | DjangoSMS{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">Réinitialisation du mot de passe terminée</h3>
    <div class="container">
      <div class="alert alert-success">
        <i class="fas fa-check-circle"></i>Votre mot de passe a été réinitialisé, vous pouvez maintenant vous connecter !
      </div>
      <a class="btn btn-primary" href="{% url 'login' %}">Connectez-vous ici</a>
    </div>
</div>
{% endblock content %}
