{% extends 'base.html' %}
{% block title %}Email envoyé | DjangoSMS{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">Email envoyé</h3>
  <div class="container">
    <div class="alert alert-success">
      <i class="fas fa-check-circle"></i>Un email contenant les instructions pour réinitialiser votre mot de passe a été envoyé. Veuillez vérifier votre boîte mail.
    </div>
    <a class="btn btn-primary" href="{% url 'login' %}"><i class="far fa-arrow-alt-circle-left"></i>Retour à la connexion</a>
  </div>
</div>
{% endblock content %}
