{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}eCommerce{% endblock title %}</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-face.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/green.css' %}">
</head>
<body>
    {% url 'home' as home_url %}
    {% url 'contact' as contact_url %}
    {% url 'about' as about_url %}
    {% url 'login' as login_url %}
    {% url 'logout' as logout_url %}
    {% url 'register' as register_url %}
    {% url 'cart' as cart_url %}

    <nav class="navbar-header navbar-expand-lg">
      <div class="container-fluid">
        <div class="nav-wrapper">
        <ul class="navbar-nav">
          <li><a href="#0924419094"><i class="fas fa-phone"></i> +(225) 07 59 96 24 96</a></li>
          <li><a href="mailto:support@ecommerce.fr"><i class="fas fa-envelope ml-3"></i>ENK@gmail.com</a></li>
          <li><a href="#"><i class="fas fa-map-marker ml-3"></i>Abidjan</a></li>
        </ul>
        <ul class="navbar-nav">
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown mr-3 p-0">
            <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdownUserPanel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{ request.user.get_full_name }}
            </a>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownUserPanel">
              <a class="dropdown-item" href="#">Profil</a>
              <a class="dropdown-item" href="#">Facturation</a>
              <a class="dropdown-item" href="#">Historique</a>
              <a class="dropdown-item" href="#">Bibliothèque</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ logout_url }}">Se déconnecter</a>
            </div>
          </li>
          <li>
            <a href="{{ logout_url }}"><i class="fas fa-sign-out-alt"></i>Se déconnecter</a>
          </li>
          {% else %}
          <li class="active mr-3">
            <a href="{{ register_url }}"><i class="fas fa-user-plus"></i>Inscription</a>
          </li>
          <li>
            <a href="{{ login_url }}"><i class="fas fa-sign-in-alt"></i>Connexion</a>
          </li>
          {% endif %}
        </ul>
        </div>
      </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
       <div class='container-fluid'>
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/1.png' %}" width="50" height="40" class="d-inline-block align-top" alt="">
        <strong></strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if request.path == home_url %}active{% endif %}">
            <a class="nav-link" href="{% url 'home' %}">Accueil</a>
                <!-- Lien vers la page des produits -->
              <li class="nav-item {% if request.path == '/products/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'products' %}">Produits</a>
              </li>
          </li>
              <li class="nav-item {% if request.path == cart_url %}active{% endif %}">
                <a class="nav-link" href="{{ cart_url }}">
                  <span>Panier d'achat</span> <!-- Juste le texte sans icône ni cercle -->
                </a>
              </li>          
      <li class="nav-item {% if request.path == contact_url %}active{% endif %}">
        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
      </li>
  <li class="nav-item {% if request.path == about_url %}active{% endif %}">
    <a class="nav-link" href="{% url 'about' %}">À propos</a>
  </li>
</ul>

        </ul>

        <form class="form-header" action="{% url 'query' %}" method="GET">
          <input class="au-input au-input--xl" type="text" name="q" aria-label="Recherche" value="{{ request.GET.q }}" placeholder="Recherchez des produits..." required/>
          <button class="au-btn--submit" type="submit">
              <i class="fas fa-search"></i>
          </button>
        </form>

      </div>
    </div>
    </nav>

    {% block content %}{% endblock content %}

    <section class="bg-light py-5" style="border-top: 2px solid #ddd;">
      <div class="container" style="display: flex; justify-content: center;">
          <div class="row">
              <div class="col-md-12 text-center">
                  <p class="lead">Inscrivez-vous à notre <b>NEWSLETTER</b></p>
                  <form class="form-header" action="{% url 'subscribe' %}" method="POST">
                      {% csrf_token %}
                      <input class="au-input au-input--xl" type="email" name="email" aria-label="email" value="" placeholder="E-mail" required />
                      <button class="au-btn--submit" type="submit">S'abonner</button>
                  </form>
                  <p>Abonnez-vous à notre site pour recevoir nos nouveaux produits...</p>
  
                  <!-- Messages de feedback -->
                  {% if messages %}
                      {% for message in messages %}
                          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                      {% endfor %}
                  {% endif %}
              </div>
          </div>
      </div>
  </section>
  

  <footer>
    <section id="top-footer">
      <div class="container">
        <div class="row py-5 px-4">
          <div class="col-md-4">
            <ul>
              <h5>À PROPOS DE NOUS</h5>
              <li class="mb-3">Nous sommes une boutique en ligne spécialisée dans les vêtements et accessoires de qualité. Notre objectif est de fournir les meilleures tendances à des prix compétitifs.</li>              
              <li><i class="fas fa-map-marker"></i>Abidjan , Cocody ABATTA</li>
              <li><i class="fas fa-phone"></i>+225 07 59 96 24 96</li>
              <li><i class="fas fa-envelope"></i>ENK@gmail.com</li>
            </ul>
          </div>
          <div class="col-md-2 mr-3">
            <ul>
              <h5>CATEGORIES</h5>
              <li><a href="{% url 'home' %}">Accueil</a></li>
              <li><a href="{% url 'about' %}">À propos</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
              <li><a href="{% url 'products' %}">Produits</a></li>
              <li><a href="{% url 'cart' %}">Panier</a></li>
          </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5" id="bottom-footer">
      <div class="container text-center">
        <span class="copyright">
          Copyright &copy; <script>document.write(new Date().getFullYear());</script> Tous droits réservés | Créé par <a href="https://ezop.herokuapp.com" target="_blank">Kassi Marc</a>
        </span>
      </div>
    </section>
  </footer>

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
