{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title %}
{% load static %}


{% block content %}
<div class="section">
    <div class='container'>
        <div class="title-1">Contactez-nous</div>
        <div class="title-line mb-3"></div>
        
        <p>
            N'hésitez pas à nous écrire si vous avez des questions ou des préoccupations. Nous sommes là pour vous aider.
        </p>

        <!-- Alerte en cas de succès -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class='row'>
            <div class='col'>
                <div class='col-md-6 col-12 mx-auto'>
                    <form class='contact-form' method='POST' action='{% url "contact" %}'> 
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label for="fullname">Nom complet</label>
                            {{ form.fullname }}
                            <div class="text-danger small">{{ form.fullname.errors }}</div>
                        </div>
                        
                        <div class="form-group">
                            <label for="email">Adresse email</label>
                            {{ form.email }}
                            <div class="text-danger small">{{ form.email.errors }}</div>
                        </div>
                        
                        <div class="form-group">
                            <label for="content">Message</label>
                            {{ form.content }}
                            <div class="text-danger small">{{ form.content.errors }}</div>
                        </div>
                        
                        <button type='submit' class='btn btn-primary mt-3'>Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
