{% extends 'base.html' %}
{% block title %}Liste des Produits | eCommerce{% endblock title %}
{% load static %}
{% block content %}

<style>
        /* ✅ Suppression des marges en haut et en bas */
    .section {
        margin: 0;
        padding: 0;
    }
    .hot-deal {
        margin: 0 auto;
        padding: 20px 0; 
    }
    .card {
        position: relative;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
    .card:hover {
        transform: translateY(-15px);
        box-shadow: 0px 2px 45px 2px rgba(0, 0, 0, 0.3);
        transition: .5s;
    }
</style>


<div class="section">
    <div class="hot-deal">
        <img src="{% static 'img/product-1.png' %}" alt="" width="350px">
        <div class="text-center">
            <h4>OFFRE DE LA SEMAINE</h4><p class="lead">Nouvelle collection jusqu'à 50% de réduction</p><br>
            <button class="btn btn-danger mt-4">
                <a href="{% url 'products' %}" class="text-white text-decoration-none">Voir nos produits</a>
            </button>
            
        </div>
        <img src="{% static 'img/product-2.png' %}" alt="" width="350px">
    </div>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}
