{% extends 'base.html' %}
{% block title %}Liste des produits | eCommerce{% endblock title %}
{% load static %}
{% block content %}

<style>
    .card {
        position: relative;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
    .card:hover {
        transform: translateY(-15px);
        box-shadow: 0px 2px 45px 2px rgba(0, 0, 0, 0.3);
        transition: .5s;
    }
</style>

<div class="section">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="title-1">NOUVEAUX PRODUITS</div>
        
            {% if request.user.is_authenticated and request.user.is_superuser %}
                <div>
                    <a href="{% url 'add_product' %}" class="btn btn-success">
                        <i class="fas fa-plus"></i> Ajouter un produit
                    </a>
                    <a href="{% url 'manage_products' %}" class="btn btn-danger">
                        <i class="fas fa-trash"></i> Gérer les produits
                    </a>
                </div>
            {% endif %}
        </div>
        

        <div class="title-line mb-5"></div>
        
        <div class='row'>
            {% for obj in object_list %}
                <div class='col-md-3 mb-5'>
                    <div class="card">
                        <div class="cart"><small class='pro-new'>Nouveau</small></div>
                        <div class="img-wrapper">
                            <img class="card-img-top" src="{{ obj.image.url }}" alt="Logo de {{ obj.title }}">
                            <div class="img-text-wrapper">
                                <a href="{{ obj.get_absolute_url }}">Voir les détails</a>
                            </div>
                        </div>
                        <div class="cart">
                            <div class="date-wrapper"><i class="fas fa-calendar-alt"></i>
                                Ajouté {{ obj.timestamp|timesince }}
                            </div>
                        </div>
                    
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <a href="{{ obj.get_absolute_url }}" class="product-btn">
                                    {{ obj.title|title }}
                                </a>
                                <a href="{{ obj.get_absolute_url }}" class="product-btn">
                                    <i class="fas fa-eye"></i><span class="tooltipp">Voir les détails</span>
                                </a>
                            </div>
                            <span class="price fs-3">{{ obj.price }} FCFA</span>
                            {% if obj.discount_price %}<span class="dismiss-text">{{ obj.discount_price }} FCFA</span>{% endif %}
                            
                            <div class="card-subtitle mt-2">{{ obj.description|linebreaks|truncatewords:10 }}</div>
                            
                            <div class='text-center'>
                                <form class='form-product-ajax' method='POST' action='{% url "update" %}' data-endpoint='{% url "update" %}' class="form" {% if request.user.is_authenticated %}data-user='abc'{% endif %}> {% csrf_token %}
                                    <input type='hidden' name='product_id' value='{{ obj.id }}' {% if product.is_digital %}data-is-digital='true'{% endif%}/>
                                    {% if obj in cart.products.all %}
                                        <button type='submit'  class='btn btn-outline-danger'>
                                            <i class="fa fa-shopping-cart"></i> Retirer du panier
                                        </button>
                                    {% else %}
                                        <button type='submit'  class='btn btn-outline-success'>
                                            <i class="fa fa-shopping-cart"></i> Ajouter au panier
                                        </button>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 %}
                    </div> </div><div class='row'><div class='col-md-3 mb-5'></div>
                    {% else %}
                    </div>
                    {% endif %}
            {% endfor %}
        </div>

        <div class="products-slick-nav" id="slick-nav-1">
          <button class="slick-prev slick-arrow" style="display: inline-block;" aria-label="Précédent" type="button">
            <i class="fas fa-angle-left"></i>
          </button>
          <button class="slick-next slick-arrow" style="display: inline-block;" aria-label="Suivant" type="button">
            <i class="fas fa-angle-right"></i>
          </button>
        </div>

    </div>
</div>

<div class="section">
    <div class="hot-deal">
        <img src="{% static 'img/product-1.png' %}" alt="" width="350px">
        <div class="text-center">
            <div class="mb-5">
                <span class="countdown mr-5">Vetements</span><span class="countdown mr-5">Chaussure</span>
                <span class="countdown mr-5">Montres</span><span class="countdown">Et autres</span>
            </div>
            <h2>OFFRE SPÉCIALE DE LA SEMAINE</h2><p class="lead">Nouvelle collection jusqu'à -50%</p><br>
            <button class="btn btn-danger mt-4"><a class="">Achetez maintenant</a></button>
        </div>
        <img src="{% static 'img/product-2.png' %}" alt="" width="350px">
    </div>
</div>

{% endblock content %}

{% block js %}
<script>
    // Surbrillance des images au survol
    const productItems = document.querySelectorAll('.img-wrapper')
    
    productItems.forEach(product => {
        product.addEventListener('mouseover', () => {
            product.childNodes[1].classList.add('img-darken')
        })
        product.addEventListener('mouseout', () => {
            product.childNodes[1].classList.remove('img-darken')
        })
    });
</script>
{% endblock js %}
